<style>
@media screen and (min-width:440px) and (max-width:575px){
    .log-spa{
        width:70% !important;
    }
}
</style>
<template>
    <footer class="w-100">
        <div class="bg-footer p-3">
            <div class="row m-0 p-0">
                <div class="col-12 col-sm-7 col-md-4 m-auto d-flex j-center">
                    <h3 class="text-center mb-2"><img src="/img/logo.png" class="log-spa" style="width:100%" /></h3>
                </div>
                <div class="col-12 col-sm-6 col-md-4 m-auto d-flex j-center">
                    <div class="w-100">
                        <div class="row p-0 m-0">
                            <div class="col-3 col-lg-2 d-flex j-center">
                                <h4 class="text-left"><i class="fas fa-map w-100"></i></h4>
                            </div>
                            <div class="col-9 col-lg-10">
                                <h4 class="text-left">Av Naciones Unidas, Quito, Ecuador.</h4>
                            </div>
                        </div>
                        <div class="row w-100 p-0 m-0">
                            <div class="col-3 col-lg-2 d-flex j-center">
                                <h4 class="text-left"><i class="fas fa-phone w-100"></i></h4>
                            </div>
                            <div class="col-9 col-lg-10">
                                <h4 class="text-left">+593-98-299-7791</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 m-auto d-flex j-center">
                    <div class="row w-100 m-0 p-0">
                        <div class="col-6"><h1 class="text-center fs-4r"><a href="http://www.instagram.com/spadelalma"><i class="fab fa-instagram w-100"></i></a></h1></div>
                        <div class="col-6"><h1 class="text-center fs-4r"><a href="http://www.facebook.com/spadelalma01"><i class="fab fa-facebook w-100"></i></a></h1></div>
                        <div class="col-12"><h5 class="text-center">Programación: Gerald Alarcón.</h5></div>
                    </div>                                           
                </div>
            </div>
        </div>
    </footer>
</template>
<style>
.bg-footer{
    background-color:rgba(1,1,1,.1);
}
.fs-4r{
    font-size:4rem;
}
</style>

