<template>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">SPA DEL ALMA</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <router-link tag="li" to="/inicio" class="nav-item active">
            <a class="nav-link" href="#">INICIO<span class="sr-only">(current)</span></a>
        </router-link>
        <router-link tag="li" to="/personalinfo" class="nav-item active">
            <a class="nav-link" href="#">¿Quienes somos?</a>
        </router-link>
        <router-link tag="li" to="/servicios" class="nav-item active">
            <a class="nav-link" href="#">Servicios</a>
        </router-link>
        <router-link tag="li" to="/contact" class="nav-item active">
            <a class="nav-link" href="#">Contacto</a>
        </router-link>        
    </ul>
    <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->
  </div>
</nav>
</template>