<style>
    .nav-gs{
        border-bottom:2px solid gray;
    }
    * {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container-slider {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

.first-container{
    border-right:2px solid black;
}
.first-text{
    border-bottom:2px solid black;
}
.padding-basic{
    margin-top:-40px !important;
}
.second-text{
    font-size:2.5rem;
}
.second2-text{
    font-size:2.3rem;
}
.second3-text{
    font-size:2.3rem;
}
.first-element{
    border-bottom: 1px solid black;
    padding-bottom:1rem;
}
.container-2{
    border-right:2px solid black;
}
.cont-3{
    border-right:2px solid black;
}
.j-center{
    justify-content:center;
    align-items:center;
}
.border-fourth{
    border-right:2px solid black;
}
.fs-65vw{
    font-size:6.5vw !important;
}
.fs-60vw{
    font-size:6vw !important;
}
.fs-100vw{
    font-size:10vw !important;
}
.first-title{
    letter-spacing:3vw;
    line-height:30px;
}
.fs-130vw{
    font-size:13vw !important;
}
.fs-80vw{
    font-size:8vw !important;
}
.ls-20{
    letter-spacing:20px !important;
}
</style>
<template>
    <div class="container-fluid p-0">
        <div class="d-flex parallax bg-img1 minh-100vh w-100">
            <div class="minh-100vh w-100 bg-opacity7 d-flex j-center">
                <div class="w-100">
                    <h2 class="px-4 text-right fs-white fs-65vw">TRANSFORMATE</h2>
                    <h2 class="pl-4 text-center fs-white fs-130vw ls-20">RENACE</h2>
                    <p class="px-4 fs-white fs-60vw">DESCUBRE LA</p>
                    <p class="pr-4  w-100 fs-white fs-100vw text-center first-title">MARAVILLA</p>
                    <p class="px-4 pb-3  fs-white fs-80vw text-right">QUE HAY EN TI</p>
                </div>
            </div>
        </div>
            <div class="bg-light pt-5 pb-5 text-center">
                <h2 class="text-center">¿Estas dispuesto a recorrer el sendero para descubrir tu potencial?</h2>
                <router-link tag="button" to="/contact" class="btn btn-primary mt-4" style="width:50%;">CONTACTANOS</router-link>
            </div>
            <div class="w-100 py-4">
                <h2 class="text-center pb-2">Conoce nuestros servicios</h2>
                    <div class="col-12 col-sm-8 m-auto p-0">
                        <div class="container-slider">
                            <div class="mySlides" style="overflow-y:hidden;max-height:300px;">
                                <div class="numbertext">1 / 6</div>
                                <img src="/img/img9.jpg" style="width:100%">
                            </div>
                            <div class="mySlides" style="overflow-y:hidden;max-height:300px;">
                                <div class="numbertext">2 / 6</div>
                                <img src="/img/img7.jpg" style="width:100%">
                            </div>
                            <div class="mySlides" style="overflow-y:hidden;max-height:300px;">
                                <div class="numbertext">3 / 6</div>
                                <img src="/img/img6.jpg" style="width:100%">
                            </div>
                            <div class="mySlides" style="overflow-y:hidden;max-height:300px;">
                                <div class="numbertext">4 / 6</div>
                                <img src="/img/img5.jpg" style="width:100%">
                            </div>
                            <div class="mySlides" style="overflow-y:hidden;max-height:300px;">
                                <div class="numbertext">5 / 6</div>
                                <img src="/img/img7.jpg" style="width:100%">
                            </div>
                            <div class="mySlides" style="overflow-y:hidden;max-height:300px;">
                                <div class="numbertext">6 / 6</div>
                                <img src="/img/img8.jpg" style="width:100%">
                            </div>
                            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                            <a class="next" onclick="plusSlides(1)">&#10095;</a>
                            <div class="caption-container">
                                <p id="caption"></p>
                            </div>
                            <div class="row w-100 m-0">
                                <div class="column" style="overflow-y:hidden;max-height:65px;">
                                    <img class="demo cursor" src="/img/img9.jpg" style="width:100%" onclick="currentSlide(1)" alt="Talleres Vivenciales">
                                </div>
                                <div class="column" style="overflow-y:hidden;max-height:65px;"> 
                                    <img class="demo cursor" src="/img/img7.jpg" style="width:100%" onclick="currentSlide(2)" alt="Consultas Individuales">
                                </div>
                                <div class="column" style="overflow-y:hidden;max-height:65px;">
                                    <img class="demo cursor" src="/img/img6.jpg" style="width:100%" onclick="currentSlide(3)" alt="Terapias de Pareja">
                                </div>
                                <div class="column" style="overflow-y:hidden;max-height:65px;">
                                    <img class="demo cursor" src="/img/img5.jpg" style="width:100%" onclick="currentSlide(4)" alt="Constelaciones Familiares">
                                </div>
                                <div class="column" style="overflow-y:hidden;max-height:65px;">
                                    <img class="demo cursor" src="/img/img7.jpg" style="width:100%" onclick="currentSlide(5)" alt="Terapias para Jovenes">
                                </div> 
                                <div class="column" style="overflow-y:hidden;max-height:65px;">
                                    <img class="demo cursor" src="/img/img8.jpg" style="width:100%" onclick="currentSlide(6)" alt="Terapias Online">
                                </div>
                            </div>
                        </div>    
                    </div>
            </div>
            <div class="row w-100 pb-4">
                <div class="col-12 col-sm-6 container-2">
                    <h2 class="text-center">¿Quieres mas información?</h2>
                </div>
                <div class="col-12 col-sm-6 text-center">
                    <router-link to="/servicios" tag="button" class="btn btn-primary mt-3" style="width:50%;">SERVICIOS</router-link> 
                </div>
            </div>
            <div class="bg-light pt-4">
                <div class="row w-100">
                    <div class="col-12 col-sm-6 text-right cont-3">
                        <h2 class="pl-4">Mirian Josefina Alarcón</h2>
                        <img src="/img/img3.jpg" class="w-80" />
                    </div>
                    <div class="col-12 col-sm-6 text-center d-flex j-center">
                        <div>
                            <h4 class="text-justify py-4 pl-4">Psicoterapeuta y Conferencista con 12 años de experiencia, capacitada en temas de crecimiento personal: Autoestima, Niño Interno, Constelaciones Familiares Promotora de Salud Mental.</h4>
                            <router-link tag="button" to="/personalinfo" style="width:65%;" class="btn btn-primary m-auto">
                                ¿Quienes somos?
                            </router-link>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-100 text-center py-4">
                <div class="row w-100 m-0">
                    <div class="col-12 col-sm-6 col-md-3 p-0">
                        <img src="/img/img5.jpg" class="w-100" />
                    </div>
                    <div class="col-12 col-sm-6 col-md-3 p-0">
                        <img src="/img/img6.jpg" class="w-100" />
                    </div>
                    <div class="col-12 col-sm-6 col-md-3 p-0">
                        <img src="/img/img7.jpg" class="w-100" />
                    </div>
                    <div class="col-12 col-sm-6 col-md-3 p-0">
                        <img src="/img/img8.jpg" class="w-100" />
                    </div>
                </div>
            </div>
            <div class="row w-100 m-0 pb-3">
                <div class="col-12 col-sm-5 border-fourth">
                    <h3 class="text-justify p-3">Somos una comunidad dedicada al servicio de tu crecimiento personal. ¡Nos enorgullece contar con personas como tu!</h3>
                </div>
                <div class="col-12 col-sm-7 text-center">
                    <h4 class="mb-2 text-center mt-5 px-2">¡NO LO PIENSES MAS! Atrevete a cambiar tu vida</h4>
                    <div class="text-center mt-2">
                        <router-link tag="button" style="width:80%;" class="btn btn-primary mb-4 w-80" to="/contact">
                            CONTACTO 
                        </router-link>
                    </div>
                </div>
            </div>
        <router-view>

        </router-view>
    </div>
</template>
