<style>
    html{
        height:100%;
        box-sizing:border-box;
    }
    *,
    *:before,
    *:after{
        box-sizing:inherit;
    }
    body{
        font-family: "Segoe UI Light";
        position:relative;
        margin:0;
        padding-bottom: 10rem;
        min-height:100%;
    }
    footer{
        position:absolute;
        text-align:center;
    }
    .fade-enter-active{
        -webkit-transition: opacity 1s;
        -moz-transition: opacity 1s;
        -ms-transition: opacity 1s;
        -o-transition: opacity 1s;
        transition: opacity 1s;
    }
    .fade-leave-active{
        -webkit-transition: opacity 0.1s;
        -moz-transition: opacity 0.1s;
        -ms-transition: opacity 0.1s;
        -o-transition: opacity 0.1s;
        transition: opacity 0.1s;
    }
    .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
        opacity:0;
    }
    /* PARALLAX CSS */

.parallax{ 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-opacity7{
    background-color:rgba(1,1,1,.7)
}
.minh-100vh{
    min-height:100vh;
}
.fs-white{
    color:white;
}
</style>
<template>
    <body>
        <headerSpa></headerSpa>
        <navSpa></navSpa>
        <router-view></router-view>
        <footerSpa></footerSpa>
    </body>
</template>
<script>
    import footerSpa from "./templates/components/footer.vue";
    import headerSpa from "./templates/components/header.vue";
    import navSpa from "./templates/components/navbar.vue";
    export default{
        name:'index',
        components: {
            footerSpa,
            headerSpa,
            navSpa,
        },
    }
</script>