<style>
.font-iconss{
    font-size:1.5rem;
}
</style>
<template>
    <div class="w-100 m-0 p-0 parallax minh-100vh bg-img5">
        <div class="minh-100vh w-100 m-0 p-0 bg-opacity7 d-flex j-center">
            <div class="row w-100 m-0">
                <div class="col-12">
                <h2 class="py-4 text-center fs-white">CONTACTANOS</h2>
                </div>
                <div class="col-12 col-sm-6 d-flex j-center">
                    <div class="row">
                        <div class="col-12">
                            <a class="btn bg-light my-1 font-iconss">
                                <i class="fas fa-phone"></i>
                                +593-98-299-7791
                            </a>
                        </div>
                        <div class="col-12">
                            <a class="btn btn-light my-1 font-iconss">
                                <i class="fas fa-envelope"></i>
                                mirianjar24@gmail.com
                            </a>
                        </div>
                        <div class="col-12">
                            <a class="btn btn-light font-iconss my-1" href="http://www.instagram.com/spadelalma">
                                <i class="fab fa-instagram"></i>
                                @spadelalma
                            </a>
                        </div>
                        <div class="col-12">
                            <a class="btn btn-light font-iconss my-1">
                                <i class="fab fa-facebook"></i>
                                /spadelalma01
                            </a>
                        </div>  
                    </div> 
                </div>
                <div class="col-12 col-sm-6 p-4 d-flex j-center">
                    <div class="w-100 row m-0">
                        <div class="col-12 m-auto">
                            <h3 class="text-center p-3 fs-white">¿Quieres conocer todo lo que tenemos para ti?</h3>
                        </div>
                        <div class="col-12 col-sm-10 col-md-8 m-auto">
                            <button class="btn btn-primary w-100"  v-on:click="$router.push('/servicios/talleres')">TALLERES VIVENCIALES</button>            
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    
}
</script>
