<style>
.border-us{
    border-right:2px solid black;
}
</style>
<template>
    <div>
        <div class="row w-100 m-0">
            <div class="col-12 col-sm-6 pt-3 border-us text-right">
                <h2 class="text-center">¿Quienes somos?</h2>
                <div class="w-100 p-3">
                    <img src="/img/img4.jpg" class="img-inauguracion" />
                    <h5 class="text-justify">Fundada inicialmente en el año 2004 por Mirian Alarcon como una empresa particular de Talleres Vivenciales que ha venido creciendo junto a su fundadora con el paso de los años, en Junio del 2014 cuando Spa del Alma comienza a ofrecer sus servicios en la Clínica José Gregorio Hernandez de Valera como un proyecto por parte de Mirian Alarcón y la Lcda. Soraya Linares cuyo objetivo era lograr que las personas mejoraran su nutrición y elevaran su autoestima mediante planes de alimentación y terapias individuales hasta Agosto de 2015 cuando Spa del Alma es trasladada y bautizada en su sede principal en la Urbanización La Beatriz, Valera. Spa del Alma es una empresa cuya misión de servicio es apoyar a grupos particulares y empresas mediante Talleres Vivenciales o Consultorias, descritas en <router-link tag="a" to="/servicios">Servicios</router-link></h5>
                </div>
            </div>
            <div class="col-12 col-sm-6 bg-light pt-3">
                <h2 class="text-center pb-2 px-2"><strong>Mirian Josefina Alarcón Ramirez</strong></h2>
                <div id="list" class="w-100 p-3">
                    <img src="/img/img3.jpg" class="img-inauguracion img-2" />
                        <h4 class="titles-us first-e">Certificada por la Escuela Internacional de Autoestima como Conferencista en 2004</h4>
                        <h4 class="titles-us mt-4">Participante de la Escuela de Terapeutas del Alma de Carlos Fraga.</h4>
                        <h4 class="titles-us mt-4">Consteladora Familiar.</h4>
                        <h4 class="titles-us mt-4">Promotora del Proyecto “MAXIMIXATE: 10 caminos para elevar tu potencial de Bob Mandel”.</h4>
                        <h4 class="titles-us mt-4">Promotora de Salud Mental.</h4>
                        <h4 class="titles-us mt-4">Asesora en Organizaciones Comunitarias.</h4>
                        <h4 class="titles-us my-4">Tecnico Agropecuario</h4>
                    </div>
                </div>
            </div>
        </div>             
</template>
<style>
.img-inauguracion{
    float:left;
    margin-right:15px;
    margin-bottom:10px;
}
.titles-us{
    text-align:center;
}
@media screen and (max-width:380px){
    .img-inauguracion{
        width:100%;
    }
    .first-e{
        margin-top:1.5rem;
    }
}
@media screen and (min-width:380px)and (max-width:510px){
    .img-2{
        width:60% !important;
        margin-right:20% !important;
        margin-left:20% !important;
        margin-bottom:18px !important;;
    }
}
@media screen and (min-width:511px) and (max-width:575px){
    .titles-us{
        text-align:left !important;
    }
}
@media screen and (min-width:576px) and (max-width:800px){
    .img-inauguracion{
        width:100%;
    }
}
@media screen and (min-width:801px) and (max-width:930px){
    .img-2{
        width:60% !important;
        margin-right:20% !important;
        margin-left:20% !important;
        margin-bottom:18px !important;;
    }

}
@media screen and (min-width:931px){
    .img-2{
        float:right !important;
        margin-left:10px !important;
        margin-bottom:15px !important;
        margin-right:0px !important;
        margin-top:0px !important;
    }
    .titles-us{
        text-align:left !important;
    }
}
</style>
