<template>
    <div>
        <h2 class="text-center py-4">SERVICIOS</h2>
        <h2 class="text-left px-4">Consultas Individuales</h2>
        <div class="row w-100 m-0 p-3">
            <div class="col-12 col-sm-4 d-flex j-center">
                <img src="/img/img5.jpg" class="w-100" />
            </div>
            <div class="col-12 col-sm-8 d-flex j-center">
                <p class="text-justify fs-services">Spa del Alma cuenta con consultas individuales ¡PREVIA CITA! de Lunes a Viernes (10am-6pm) en nuestra dirección en Quito, basadas en Autoestima y los 10 Caminos para Elevar tu potencial, ademas de Terapias de Pareja, Constelaciones Familiares y mucho mas. Tambien se trabaja con visión y misión de vida como asesoría a jóvenes en cuanto a vocacion de servicio cuando se encuentran en su etapa pre-universitaria.</p>
            </div>
        </div>
        <div class="bg-light w-100 p-4">
            <h2 class="text-left pl-4">Talleres Vivenciales</h2>
            <div class="row w-100 m-0">
                <div class="col-12 col-sm-4 pl-2 d-flex j-center">
                    <img src="/img/img9.jpg" class="w-100" />
                </div>
                <div class="col-12 col-sm-8 d-flex j-center">
                    <div class="w-100 text-center py-2">
                        <p class="text-justify fs-services">Spa del Alma cuenta con un ciclo de Talleres Vivenciales, basados en los 10 caminos para elevar tu potencial de Bob Mandel y otros temas de autoayuda. Actualmente contamos con 6 talleres vivenciales los cuales serán descritos a continuación:</p>
                        <div class="w-100 m-0 row">
                            <div class="col-12 col-sm-10 col-md-6 m-auto">
                                <router-link tag="button" class="w-100 m-auto btn btn-primary fs-services" to="/servicios/talleres" >
                                    Mas información 
                                </router-link>
                            </div>
                            <div class="col-12 col-sm-10 col-md-6 m-auto">
                                <router-link tag="button" class="w-100 m-auto btn btn-primary fs-services" to="/contact" >
                                    Contacto 
                                </router-link>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<style>
.fs-services{
    font-weight:500;
    font-size:1.3rem;
}
</style>