<style>
.bg-taller1{
background-image:url('/img/taller1.jpg');
}
.fs-12{
    font-size:1.25rem;
}
.bg-img1{
    background-image:url('/img/img1.jpg')
}
.bg-img2{
    background-image:url('/img/img2.jpg')
}
.bg-img3{
    background-image:url('/img/img5.jpg')
}
.bg-img4{
    background-image:url('/img/img6.jpg')
}
.bg-img5{
    background-image:url('/img/img7.jpg')
}
.bg-img6{
    background-image:url('/img/img8.jpg')
}
.bg-img7{
    background-image:url('/img/img9.jpg')
}
</style>
<template>
    <div class="m-0 p-0">
        <div class="d-flex parallax minh-100vh bg-taller1">
            <div class="w-100 bg-opacity7 minh-100vh d-flex j-center">
                <div class="w-100">
                    <h3 class="text-center py-3 fs-white">TALLERES VIVENCIALES</h3>
                    <h5 class="text-justify px-5 pb-3 fs-white">Dirigidos a todas aquellas personas que estén dispuestas a darle un cambio a su vida, para lograr  un  crecimiento y desarrollo personal y espiritual en todos los roles que desempeñen para que luego se vea reflejado en una vida de amor, prosperidad y buenas relaciones tanto intrapersonales e interpersonales.</h5>
                </div>
            </div>
        </div>
        <div class="bg-light p-4">
            <h4 class="text-center py-3">Objetivos de los Talleres Vivenciales</h4>
            <ul>
                <li class="fs-12">Capacitar a las personas mediante ejercicios dinámicos y meditaciones, para que comiencen a sentir una autoestima verdaderamente equilibrada y desarrollen su liderazgo.</li>
                <li class="fs-12">Lograr que las personas rescaten el amor a sí mismos y hacia los demás.</li>
                <li class="fs-12">Lograr que las personas tengan  sentido de pertenencia con todos los ámbitos de su entorno como familia, empresa, entre otros.</li>
                <li class="fs-12">Conseguir que sus elecciones, la manera de vivir y sus relaciones consigo mismos, con su pareja, familia, empresa y comunidad estén basadas en su autoestima.</li>
            </ul>
        </div>
        <div class="d-flex parallax bg-img1 minh-100vh w-100">
            <div class="minh-100vh w-100 bg-opacity7 d-flex j-center">
                <div class="p-4 w-100">
                    <h2 class="text-center fs-white pb-4">6 TALLERES PARA ELEVAR TU POTENCIAL</h2>
                    <h3 class="text-center py-3 fs-white">“EL MILAGRO DE LAS RELACIONES, DESCUBRE EL SER MARAVILLOSO QUE ERES”</h3>
                        <p class="px-2 text-left fs-white">Contenido:</p>
                        <ul class="text-left">
                            <li class="fs-12 fs-white">Bienvenida.</li>
                            <li class="fs-12 fs-white">Presentación.</li>
                            <li class="fs-12 fs-white">Coctel en palabras.</li>
                            <li class="fs-12 fs-white">Presentación sobre los 10 caminos para elevar tu potencial de Bob Mandel, enfatizando auto aceptación y el celebrar la tolerancia.</li>
                            <li class="fs-12 fs-white">Ejercicio en equipo para aclarar la diferencia entre ver, sentir y pensar.</li>
                            <li class="fs-12 fs-white">Ejercicio con una vela para vivenciar el ciclo de dar y recibir para reflexionar luego como se siente y se ubica cada uno. </li>
                            <li class="fs-12 fs-white">Refrigerio.</li>
                            <li class="fs-12 fs-white">Ejercicio en equipo para trabajar la película de vida y hacer consciencia de emociones que tenernos que transformar para aumentar la autoestima y por ende mejorar las relaciones consigo mismo y con los demás.</li>
                            <li class="fs-12 fs-white">Coctel en palabras.</li>
                            <li class="fs-12 fs-white">Reflexión con cuestionario sobre el perfil de autoestima de cada uno.</li>
                            <li class="fs-12 fs-white">Coctel en palabras.</li>
                            <li class="fs-12 fs-white">Despedida.</li>
                        </ul>
                </div>
            </div>
        </div>
        <div class="d-flex parallax bg-img2 minh-100vh w-100">
            <div class="minh-100vh w-100 bg-opacity7 d-flex j-center">
                <div class="p-4 w-100">
                    <h3 class="text-center py-3 fs-white">“RECONCILIACIÓN Y APOYO” REGRESA AL AMOR, AL SER, POR MEDIO DEL PERDON Y CONOCIENDO TU MISIÓN DE VIDA</h3>
                        <p class="px-2 text-left fs-white">Contenido:</p>
                        <ul class="text-left">
                            <li class="fs-12 fs-white">Bienvenida.</li>
                            <li class="fs-12 fs-white">Presentación.</li>
                            <li class="fs-12 fs-white">Presentación sobre los 10 caminos para elevar tu potencial de Bob Mandel, enfatizando la sanación, la cultura psicológica y pasos del perdón.</li>
                            <li class="fs-12 fs-white">Meditación para trabajar el niño interno. Reflexión.</li>
                            <li class="fs-12 fs-white">Meditación para trabajar con papá. Reflexión.</li>
                            <li class="fs-12 fs-white">Meditación para trabajar con mamá. Reflexión.</li>
                            <li class="fs-12 fs-white">Familia y Vínculos.</li>
                            <li class="fs-12 fs-white">Coctel en palabras.</li>
                            <li class="fs-12 fs-white">Ejercicio para descubrir dones, talentos y misión de vida.</li>
                            <li class="fs-12 fs-white">Coctel en palabras</li>
                            <li class="fs-12 fs-white">Despedida</li>
                        </ul>
                    </div>
                </div>
            </div>
        <div class="d-flex parallax bg-img3 minh-100vh w-100">
            <div class="minh-100vh w-100 bg-opacity7 d-flex j-center">
                <div class="p-4 w-100">
                    <h3 class="text-center py-3 fs-white">“AUTOIMAGEN Y RECONOCIMIENTO” TU ERES EL N°1 Y EL MAS IMPORTANTE EN TU VIDA ¡TU PUEDES!</h3>
                        <p class="px-2 text-left fs-white">Contenido:</p>
                        <ul class="text-left">
                            <li class="fs-12 fs-white">Bienvenida.</li>
                            <li class="fs-12 fs-white">Presentación.</li>
                            <li class="fs-12 fs-white">Presentación sobre los 10 caminos para elevar tu potencial de Bob Mandel, enfatizando la autoimagen positiva y el reconocimiento.</li>
                            <li class="fs-12 fs-white">Ejercicio dinámico para detectar miedos y transformarlos. Reflexión.</li>
                            <li class="fs-12 fs-white">Ejercicio con un espejo para trabajar y crear una nueva imagen positiva de ti mismo.</li>
                            <li class="fs-12 fs-white">Ejercicio para practicar el reconocimiento hacia uno mismo y hacia los demás.</li>
                            <li class="fs-12 fs-white">Coctel en palabras.</li>
                            <li class="fs-12 fs-white">Despedida.</li>
                        </ul>
                    </div>
                </div>
            </div>
        <div class="d-flex parallax bg-img4 minh-100vh w-100">
            <div class="minh-100vh w-100 bg-opacity7 d-flex j-center">
                <div class="p-4 w-100">
                    <h3 class="text-center py-3 fs-white">“ESPIRITUALIDAD Y SEXUALIDAD” ERES UNA CHISPA DIVINA, ERES EL CENTRO DE TU UNIVERSO</h3>
                        <p class="px-2 text-left fs-white">Contenido:</p>
                        <ul class="text-left">
                            <li class="fs-12 fs-white">Bienvenida.</li>
                            <li class="fs-12 fs-white">Presentación.</li>
                            <li class="fs-12 fs-white">Coctel en palabras.</li>
                            <li class="fs-12 fs-white">Presentación sobre los 10 caminos para elevar tu potencial de Bob Mandel, enfatizando el reconocer el ser divino que llevamos dentro y aprender a verlo en los demás.</li>
                            <li class="fs-12 fs-white">Coctel en palabras.</li>
                            <li class="fs-12 fs-white">Ejercicio de Meditación dinámica para concientizar nuestra parte masculina y femenina dentro de nosotros.</li>
                            <li class="fs-12 fs-white">Ejercicio para trabajar y transformar nuestros pensamientos negativos acerca del dinero y el sexo, coctel en palabras.</li>
                            <li class="fs-12 fs-white">Despedida</li>
                        </ul>
                    </div>
                </div>
            </div>
        <div class="d-flex parallax bg-img5 minh-100vh w-100">
            <div class="minh-100vh w-100 bg-opacity7 d-flex j-center">
                <div class="p-4 w-100">
                    <h3 class="text-center py-3 fs-white">“PROSPERIDAD INTEGRAL” TU ESTAS EN MEDIO DE LA ABUNDANCIA INFINITA, ELIGE VIVIR EN UN UNIVERSO QUE TE COMPLACE</h3>
                        <p class="px-2 text-left fs-white">Contenido:</p>
                        <ul class="text-left">
                            <li class="fs-12 fs-white">Bienvenida.</li>
                            <li class="fs-12 fs-white">Presentación.</li>
                            <li class="fs-12 fs-white">Coctel en palabras.</li>
                            <li class="fs-12 fs-white">Presentación sobre la prosperidad, el dinero y el éxito.</li>
                            <li class="fs-12 fs-white">Coctel en palabras.</li>
                            <li class="fs-12 fs-white">Ejercicio con pensamientos negativos del dinero y cómo transformarlos.</li>
                            <li class="fs-12 fs-white">Ejercicio para trabajar el éxito.</li>
                            <li class="fs-12 fs-white">Coctel en palabras.</li>
                            <li class="fs-12 fs-white">Ejercicio, con un billete para vivenciar las relaciones con el dinero, reflexión.</li>
                            <li class="fs-12 fs-white">Ejercicio con un objeto que quieras vender para vivenciar tus relaciones con lo que vendes y el éxito.</li>
                            <li class="fs-12 fs-white">Juegos con dinero.</li>
                            <li class="fs-12 fs-white">Coctel en palabras.</li>
                            <li class="fs-12 fs-white">Despedida.</li>
                        </ul>
                    </div>
                </div>
            </div>
        <div class="d-flex parallax bg-img6 minh-100vh w-100">
            <div class="minh-100vh w-100 bg-opacity7 d-flex j-center">
                <div class="p-4 w-100">
                    <h3 class="text-center py-3 fs-white">“LA EMPRESA SOMOS TODOS”</h3>
                        <p class="px-2 text-left fs-white">Contenido:</p>
                            <ul class="text-left">
                            <li class="fs-12 fs-white">Bienvenida.</li>
                            <li class="fs-12 fs-white">Presentación.</li>
                            <li class="fs-12 fs-white">Presentación sobre el Proyecto Internacional de Autoestima y los 10 caminos para elevar tu potencial de Bob Mandel.</li>
                            <li class="fs-12 fs-white">Ordenes del amor: sentido de pertenencia, jerarquía, reglas y normas.</li>
                            <li class="fs-12 fs-white">Ciclo de dar y recibir.</li>
                            <li class="fs-12 fs-white">Refrigerio.</li>
                            <li class="fs-12 fs-white">Visión de Vida y Servicio.</li>
                            <li class="fs-12 fs-white">Autoimagen Positiva y Reconocimiento.</li>
                            <li class="fs-12 fs-white">Reflexión de cierre.</li>                        </ul>
                    </div>
                </div>
            </div>
<!--              
                        <h3 class="text-center"></h3>
                        <p class="px-2 text-left">Contenido:</p>
                        <ul class="text-left">
                        </ul>
                         <router-link tag="button" to="/taller1" class="btn btn-primary" style="width:50%;">GALERIA DEL TALLER</router-link> 
                    </div>
                </div>
                <div class="col-12 col-sm-6 text-center p-4 d-flex j-center">
                    <div>
                        <h3 class="text-center"></h3>
                        <p class="px-2 text-left">Contenido:</p>
                        <ul class="text-left">
                            
                        </ul> 
                         <router-link tag="button" to="/taller1" class="btn btn-primary" style="width:50%;">GALERIA DEL TALLER</router-link> 
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</template>
